//regalia.palantircloud.com/artifacts/api/repositories/ri.artifacts.main.repository.a739d38f-866e-45e1-a2df-03a75c61a774/contents/release/npm/:_authToken=${FOUNDRY_SDK_AUTH_TOKEN}
@operation-dynamic-accord:registry=https://regalia.palantircloud.com/artifacts/api/repositories/ri.artifacts.main.repository.a739d38f-866e-45e1-a2df-03a75c61a774/contents/release/npm
